﻿@model List<LICOGI_10_REVOLUTION.Models.HighLightModel>
@{
    ViewBag.Title = "HighLight";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>HighLight</h2>
@section style{
    <style>
        table, table * {
            border-color: #e7e7e7 !important;
        }
    </style>
}
<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<div id="page-wrapper">
    <br />
    @if (TempData["MESSAGE"] != null)
    {
        <label class="text-success text-center" style="width:100%">@TempData["MESSAGE"]</label>

    }
    <br />
    <div class="row">
        <div class="col-md-12 text-right">
            @*<a href="@Url.ac"></a>*@
            @Html.ActionLink("Thêm", "NewHighLight", "Admin", null, new { @class = "btn btn-success" })
        </div>
    </div>
    <br />
    <table class="table table-responsive table-hover table-bordered">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col style="width:6%" />
            <col style="width:10%" />
        </colgroup>
        <thead style="background-color:#f0ad4e;color:#fff">
            <tr>
                <td>Id</td>
                <td>Tên</td>
                <td>Hiển Thị</td>
                <td>Thao Tác</td>
            </tr>
        </thead>
        <tbody style="background-color:#f8f8f8">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                   <tr>
                       <td>@item.Id</td>
                       <td>@item.Name</td>
                       <td>
                           @if (item.ToTheTop)
                           {
                               <span>Đang Trên Trang Nhất</span>
                           }
                           else
                           {
                               
                           }
                       </td>
                       <td>
                           <a class="btn btn-warning" href="@Url.Action("EditArticalView","Admin",new {id = item.Id })">Sửa</a>
                           <a class="btn btn-danger delete-artical" href="@Url.Action("DeleteArtical","Admin",new {id = item.Id })">Xóa</a>
                       </td>
                   </tr>
                }
            }
        </tbody>
    </table>
</div>

@* --------- Delete popup ---------*@
<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận xóa bài viết </h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteConfirmButton" class="btn btn-default">OK</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var deleteUrl = '';
            var title = '';
            $('.delete-artical').click(function () {
                event.preventDefault();
                deleteUrl = $(this).attr('href');
                title = $(this).data('title');
                $('#deleteConfirm').find('.modal-body').find('.modal-title').text('Bạn có thật sự muốn xóa bài viết "' + title + '"')
                $("#deleteConfirm").modal('show');
            });

            $('#deleteConfirmButton').click(function () {
                window.location.href = deleteUrl;
            });
        });
    </script>
}