﻿@model LICOGI_10_REVOLUTION.Models.ArticalModel
@{
    ViewBag.Title = "Thêm dự án";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section style {
    <style>
        #page-wrapper label {
            margin-top: 8px;
        }

        #page-wrapper .row {
            margin-top: 15px;
        }
    </style>
}
<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<div id="page-wrapper">
    <div class="col-md-8 no-padding">
        <div class="row">
            <h2>Thêm bài</h2>
        </div>
        @using (Html.BeginForm("NewArtical", "Admin", FormMethod.Post))
        {
            <div class="row">
                @if (TempData["MESSAGE"] != null)
                {
                    <label class="text-danger text-center" style="width:100%">@TempData["MESSAGE"]</label>

                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            @Html.AntiForgeryToken()
            <div class="row">
                <label class="col-md-3 no-padding">Tên bài viết</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Tên bài viết tiếng anh</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.TitleEn, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Loại bài viết</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.ArticalType, Model.ListArticalType, "Lựa Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ArticalType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row solution-type">
                <label class="col-md-3 no-padding">Loại dự án</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.SolutionType, Model.ListSolutionType, "Lựa Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SolutionType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Ảnh đại diện</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.AvataUrl, new { @class = "form-control", placeholder = "Nhập đường dẫn ảnh" })
                    @Html.ValidationMessageFor(m => m.AvataUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Mô tả ngắn</label>
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Mô tả ngắn tiếng anh</label>
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.DescriptionEn, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DescriptionEn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Đường dẫn</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.FriendlyUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FriendlyUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Đường dẫn tiếng anh</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.FriendlyUrlEn, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FriendlyUrlEn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Thứ tự hiển thị</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DisplayOrder, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 project-done" style="width:45px">
                    @Html.CheckBoxFor(m => m.IsProjectDone, new { @class = "form-control" })
                </div>
                <label for="IsProjectDone" class="col-md-3 no-padding project-done">Hoàn Thành</label>

                <div class="col-md-2" style="width:45px">
                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
                </div>
                <label for="IsActive" class="col-md-3 no-padding">Hiển thị</label>
            </div>

            <div class="row">
                <label>Nội dung</label>
            </div>

            <div class="row">
                @Html.TextAreaFor(m => m.ContentText, 100, 100, new { @class = "form-control html-content" })
            </div>
            <br /><br />
            <div class="row">
                <label>Nội dung tiếng anh</label>
            </div>

            <div class="row">
                @Html.TextAreaFor(m => m.ContentTextEn, 100, 100, new { @class = "form-control html-content" })
            </div>
            <br />
            <div class="row text-right">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        }
        <br /><br /><br /><br /><br /><br /><br /><br />
    </div>

    <div class="col-md-4" id="gallery">
        @{Html.RenderAction("Gallery", "File", null);}
    </div>
</div>

@section scripts{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.html-content',  // change this value according to your HTML
            height: 500,
            theme: 'modern',
            plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            content_css: '//www.tinymce.com/css/codepen.min.css',
            convert_urls: false,
        });
    </script>

    <script>
        var upLoadUrl = '@Url.Action("Upload", "File")';
        var searchUrl = '@Url.Action("Search", "File")';

        $(function () {
            var articalType = '@Model.ArticalType';

            if (articalType != '1') {
                $('#SolutionType,.project-done').prop('disabled', true);
                $('.solution-type,.project-done').hide();
            }

            $('#ArticalType').change(function () {
                var value = $(this).val();
                if (value != '1') {
                    $('#SolutionType,.project-done').prop('disabled', true);
                    $('.solution-type,.project-done').hide();
                } else {
                    $('#SolutionType,.project-done').prop('disabled', false);
                    $('.solution-type,.project-done').show();
                }
            });
        })
    </script>
    <script src="~/Scripts/my/file-gallery.js"></script>
}