﻿@model LICOGI_10_REVOLUTION.Models.HighLightModel
@{
    ViewBag.Title = "NewHighLight";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section style {
    <style>
        #page-wrapper label {
            margin-top: 8px;
        }

        #page-wrapper .row {
            margin-top: 15px;
        }
    </style>
}
<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<div id="page-wrapper">
    <div class="col-md-8 no-padding">
        <div class="row">
            <h2>Thêm bài</h2>
        </div>
        @using (Html.BeginForm("NewHighLightSubmit", "Admin", FormMethod.Post))
        {
            <div class="row">
                @if (TempData["MESSAGE"] != null)
                {
                    <label class="text-danger text-center" style="width:100%">@TempData["MESSAGE"]</label>

                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            @Html.AntiForgeryToken()
            <div class="row">

                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 col-md-offset-2 no-padding" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.ImageUrl, new { @class = "col-md-2 col-md-offset-2 no-padding" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.ArticalUrl, new { @class = "col-md-2 col-md-offset-2 no-padding" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ArticalUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ArticalUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.Message, new { @class = "col-md-2 col-md-offset-2 no-padding" })
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(m => m.MessagePosition, new { @class = "col-md-2 col-md-offset-2 no-padding" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.MessagePosition, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MessagePosition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-5 col-md-offset-4">
                        @Html.CheckBoxFor(m => m.ToTheTop, new { @class = "" })
                        @Html.LabelFor(m => m.ToTheTop, new { @class = "" })
                    </div>
                </div>
            </div>

            <div class="row text-right">
                <div class="col-md-5 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
                </div>
        }
        <br /><br /><br /><br /><br /><br /><br /><br />
    </div>

    <div class="col-md-4" id="gallery">
        @{Html.RenderAction("Gallery", "File", null);}
    </div>
</div>

@section scripts{
    @*<script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.html-content',  // change this value according to your HTML
            height: 500,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css',
            convert_urls: false,
        });
    </script>*@

    <script>
        var upLoadUrl = '@Url.Action("Upload", "File")';
        var searchUrl = '@Url.Action("Search", "File")';

        $(function () {
            @*var articalType = '@Model.ArticalType';

            if (articalType != '1') {
                $('#SolutionType').prop('disabled', true);
                $('.solution-type').hide();
            }

            $('#ArticalType').change(function () {
                var value = $(this).val();
                if (value != '1') {
                    $('#SolutionType').prop('disabled', true);
                    $('.solution-type').hide();
                } else {
                    $('#SolutionType').prop('disabled', false);
                    $('.solution-type').show();
                }
            });*@
        })
    </script>
    <script src="~/Scripts/my/file-gallery.js"></script>
}