﻿@model LICOGI_10_REVOLUTION.Models.MachineModel
@{
    ViewBag.Title = "Thêm Thiết Bị Thi Công";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section style {
    <style>
        #page-wrapper label {
            margin-top: 8px;
        }

        #page-wrapper .row {
            margin-top: 15px;
        }
    </style>
}
<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<div id="page-wrapper">
    <div class="col-md-8 no-padding">
        <div class="row">
            <h2>Thêm bài</h2>
        </div>
        @using (Html.BeginForm("NewMachine", "Admin", FormMethod.Post))
        {
            <div class="row">
                @if (TempData["MESSAGE"] != null)
                {
                    <label class="text-danger text-center" style="width:100%">@TempData["MESSAGE"]</label>

                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            @Html.AntiForgeryToken()
            <div class="row">
                <label class="col-md-3 no-padding">Tên thiết bị</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Tên thiết bị tiếng anh</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Hình Ảnh</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control", placeholder = "Nhập đường dẫn ảnh" })
                    @Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Số Lượng</label>
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.Count, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Count, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Năm sản xuất</label>
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.Year, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Nơi sản xuất</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.MadeIn, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Nơi sản xuất tiếng anh</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.MadeInEn, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Công suất</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Power, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 no-padding">Công suất tiếng anh</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.PowerEn, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <label>Thông số kĩ thuật</label>
            </div>

            <div class="row">
                @Html.TextAreaFor(m => m.DetailInfo, 100, 100, new { @class = "form-control html-content" })
            </div>
            <br /><br />
            <div class="row">
                <label>Thông số kĩ thuật tiếng anh</label>
            </div>

            <div class="row">
                @Html.TextAreaFor(m => m.DetailInfoEn, 100, 100, new { @class = "form-control html-content" })
            </div>
            <br />
            <div class="row text-right">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        }
        <br /><br /><br /><br /><br /><br /><br /><br />
    </div>

    <div class="col-md-4" id="gallery">
        @{Html.RenderAction("Gallery", "File", null);}
    </div>
</div>

@section scripts{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.html-content',  // change this value according to your HTML
            height: 500,
            theme: 'modern',
            plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            content_css: '//www.tinymce.com/css/codepen.min.css',
            convert_urls: false,
        });
    </script>

    <script>
        var upLoadUrl = '@Url.Action("Upload", "File")';
        var searchUrl = '@Url.Action("Search", "File")';
    </script>
    <script src="~/Scripts/my/file-gallery.js"></script>
}