﻿@{
    ViewBag.Title = "Contact";
}

@*<hgroup class="title">
    <h1>Thông tin liên hệ</h1>
</hgroup>*@



<section class="contact">
    <img style="width:100%" src="~/Uploads/GioiThieuCongTy/gioi-thieu-4.jpg"/>
</section>