﻿@using LICOGI_10_REVOLUTION
@{
    ViewBag.Title = "Đoàn Thể Xã Hội";
    ICollection<TB_ARTICAL> listNews = (ICollection<TB_ARTICAL>)ViewBag.listNews;
}
@section style{
    <style>
        .news-block {
            display: flex;
            padding: 15px 0 15px 0;
            border-bottom: 3px solid #e7e7e7;
        }

        .news-image,
        .news-info {
            display: inline-block;
            float: left;
        }

        .news-image {
            width: 20%;
        }

            .news-image a {
                display: block;
            }

                .news-image a img {
                }

        .news-info {
            width: 79%;
            padding: 0 0 0 10px;
            align-items: stretch;
        }

            .news-info a {
                color: #454545;
                text-decoration: none;
            }

                .news-info a:hover {
                    color: #33bad2;
                }

        .news-title {
            font-weight: bold;
            font-size: 130%;
        }

        .news-description {
        }

        .news-time {
            margin: 0;
        }
    </style>
}
<section class="content-main" style="width:100%">
    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.socialGroup</p>

    @if (listNews.Count > 0)
    {
        <div class="row">
            @foreach (var item in listNews)
            {
                <div class="col-md-12">
                    <div class="news-block">
                        <div class="news-image">
                            <a href="@Url.Action("ChiTietBaiViet","Home",new {articalType = "tintuc", id = item.Id , url = item.FriendlyUrl })">
                                <img src="@string.Format("{0}",item.AvataUrl)" />
                            </a>
                        </div>

                        <div class="news-info">
                            <a href="@Url.Action("ChiTietBaiViet", "Home", new { articalType = "tintuc", id = item.Id, url = item.FriendlyUrl })"><p><p class="news-title">@item.Title</p></a>
                            <p class="news-description">@item.Description</p>
                            <p class="news-time">@LICOGI_10_REVOLUTION.Resources.Resources.updateDate @item.CreateDate.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <br />
    <br />
    <br />
    <br />
</section>