﻿@using LICOGI_10_REVOLUTION
@{
    ICollection<TB_ARTICAL> listProject = (ICollection<TB_ARTICAL>)ViewBag.listProject;
}
@section style
{
    <style>
        .project-block {
            width: 100%;
            float: left;
            padding: 15px 0 15px 0;
            border-bottom: 3px solid #e7e7e7;
        }

            .project-block:last-child {
                border-bottom: none !important;
                margin-bottom: 20px;
            }

            .project-block > div {
                float: left;
                display: inline-block;
            }

        .block-content {
            width: 492px;
            padding: 0 0 0 10px;
        }

        div.block-title {
            margin: 0;
            font-size: 20px;
            margin-top: -7px;
        }

        div.block-description {
            margin-top: 20px;
        }

        .block-image img {
            width: 130px;
        }

        .block-title p {
            font-weight: bold;
        }

        .block-description p {
        }
    </style>
}
<section class="content-main">
    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.inProgressProject</p>
    @if (listProject != null && listProject.Count > 0)
    {
        <div class="project-col-1">
            @foreach (var item in listProject)
            {
                if (item.IsProjectDone != null && !item.IsProjectDone.Value)
                {
                    <div class="project-block">
                        <div class="block-image">
                            <a href="@Url.Action("ChiTietBaiViet","Home",new {articalType = "duan", id = item.Id , url = item.FriendlyUrl })">
                                <img src="@string.Format("{0}",item.AvataUrl)">
                            </a>
                        </div>
                        <div class="block-content">
                            <div class="block-title">
                                @item.Title
                            </div>
                            <div class="block-description">
                                @item.Description
                            </div>
                            <div class="block-description">
                                @LICOGI_10_REVOLUTION.Resources.Resources.updateDate @item.CreateDate.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }

    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.finishProject</p>
    @if (listProject != null && listProject.Count > 0)
    {
        <div class="project-col-1">
            @foreach (var item in listProject)
            {
                if (item.IsProjectDone != null && item.IsProjectDone.Value)
                {
                    <div class="project-block">
                        <div class="block-image">
                            <a href="@Url.Action("ChiTietBaiViet","Home",new {articalType = "duan", id = item.Id , url = item.FriendlyUrl })">
                                <img src="@string.Format("{0}",item.AvataUrl)">
                            </a>
                        </div>
                        <div class="block-content">
                            <div class="block-title">
                                @item.Title
                            </div>
                            <div class="block-description">
                                @item.Description
                            </div>
                            <div class="block-description">
                                @LICOGI_10_REVOLUTION.Resources.Resources.updateDate @item.CreateDate.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    <br />
    <br />
    <br />
    <br />
</section>

<section class="content-aside">
    @{Html.RenderAction("Aside", new { displayNews = true, displayProject = false });}
</section>