﻿@{
    ViewBag.Title = "Về chúng tôi";
}

@section style{
    <style>
        /* Style the tab */
        #tabs, #tabContent {
            float: left;
            width: 100%;
        }

        #tabContent {
            width: 80%;
        }

        ul.tab {
            float: left;
            border-width: 0 5px 0 0;
            border-style: solid;
            border-color: #cf0b0d;
            margin: 0 1px 0 0;
            box-shadow: none !important;
            outline: none;
            width: 20%;
            list-style: none;
            list-style-type: none;
            padding: 0 !important;
            margin: 0 !important;
        }

            /* Style the buttons inside the tab */
            ul.tab li {
                border-radius: 5px 5px 0 0;
                z-index: 0;
                margin: 0;
                box-shadow: none !important;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-touch-callout: none;
                outline: none;
                margin: 0;
                padding: 0;
                border: 0;
                display: block;
                text-decoration: none;
                box-sizing: content-box;
                vertical-align: baseline;
                background: transparent;
            }

        .ui-tabs-active a {
            background-color: #cf0b0d !important;
            color: #fff !important;
        }


        ul.tab a {
            border-radius: 3px 0 0 3px;
            margin-bottom: 1px;
            text-align: left;
            border-width: 0;
            background: #ECEDEE;
            margin: 0;
            cursor: pointer;
            display: block;
            transition: none;
            color: #000;
            outline: none;
            line-height: 18px !important;
            text-decoration: none;
            font-weight: bold;
            padding: 16px 16px;
        }



        /* Style the tab content */
        .tabcontent {
            float: left;
            padding: 0px 25px;
            width: 100%;
            border-left: none;
            height: auto;
        }

        table p {
            margin: 10px 0;
        }
    </style>
}
<section class="content-main" style="width:100%">
    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.intruduce</p>
    <div id="tabs">
        <ul class="tab">
            <li><a class="tablinks" href="#licogi">@LICOGI_10_REVOLUTION.Resources.Resources.licogi10</a></li>
            <li><a class="tablinks" href="#leaderShip">@LICOGI_10_REVOLUTION.Resources.Resources.leadership</a></li>
            <li><a class="tablinks" href="#people">@LICOGI_10_REVOLUTION.Resources.Resources.people</a></li>
            <li><a class="tablinks" href="#financeAndMachinery">@LICOGI_10_REVOLUTION.Resources.Resources.financeAndMachinery</a></li>
            <li><a class="tablinks" href="#tochuc">@LICOGI_10_REVOLUTION.Resources.Resources.organizationalDiagram</a></li>
        </ul>

        <div id="tabContent">
            <div id="licogi" class="tabcontent">
                @Html.Raw(ViewBag.content1)
            </div>

            <div id="leaderShip" class="tabcontent">
                @Html.Raw(ViewBag.content2)
            </div>

            <div id="people" class="tabcontent">
                @Html.Raw(ViewBag.content3)
            </div>

            <div id="financeAndMachinery" class="tabcontent">
                @Html.Raw(ViewBag.content4)
            </div>

            <div id="tochuc" class="tabcontent">
                @Html.Raw(ViewBag.content5)
            </div>
        </div>
    </div>
</section>

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script>

        $(function () {
            $("#tabs").tabs();
        });

    </script>
}
