﻿@using LICOGI_10_REVOLUTION

@section style
{
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
    <style>
        .header {
            /*padding: 0 25px;*/
        }

        .header-image {
            width: 100%;
            height: 300px;
            background: url(../../Uploads/header-nhom-kinh-3.png);
            background-size: cover;
            /*padding: 0 25px;*/
        }

        .header-image-text {
            font-family: Times,"Times New Roman",serif !important;
            font-size: 30px !important;
            font-style: italic !important;
            line-height: 1.2 !important;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.6);
            width: 50%;
            padding: 5px 10px;
        }

        html, body {
            position: relative;
            /*height: 100%;*/
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .photo-view {
            height: 90vh;
            width: 90vw;
        }
    </style>

}

<section class="header">
    <div class="header-image">
    </div>
</section>
<br />
<br />
<section class="content-main">
    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.licogiWindow</p>
    @Html.Raw(ViewBag.content)
    <br />
    <br />
    <br />
    <br />
</section>

<section class="content-aside">
    @{Html.RenderAction("Aside", new { displayNews = true, displayProject = true });}
</section>

@section scripts
{
    <script src="~/Scripts/swiper.jquery.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev'
        });
    </script>
}