﻿@using LICOGI_10_REVOLUTION

<section class="content-main">
    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.mechanizedConstruction</p>
    @Html.Raw(ViewBag.content)
    <br />
    <br />
    <br />
    <br />


</section>

<section class="content-aside">
    @{Html.RenderAction("Aside", new { displayNews = true, displayProject = true });}
</section>
