﻿@using LICOGI_10_REVOLUTION
@{
    ICollection<TB_MACHINERIES> listMachine = (ICollection<TB_MACHINERIES>)ViewBag.listMachine;
}
@section style
{
    <style>
        .project-block {
            width: 100%;
            float: left;
            padding: 15px 0 15px 0;
            border-bottom: 3px solid #e7e7e7;
        }

            .project-block > div {
                float: left;
                display: inline-block;
            }

        .block-content {
            width: 492px;
            padding: 0 0 0 10px;
        }

        div.block-title {
            margin: 0;
            font-size: 18px;
            margin-top: -7px;
        }

        div.block-description {
            margin-top: 10px;
        }

        .block-image img {
            width: 150px;
        }

        .block-title p {
            font-weight: bold;
        }

        .block-description p {
        }
    </style>
}
<section class="content-main">
    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.mechanizedIntroduce</p>
    @if (listMachine != null && listMachine.Count > 0)
    {

        <div class="project-col-1">
            @foreach (var item in listMachine)
            {
                <div class="project-block">
                    <div class="block-image">
                        @*<a href="@Url.Action("ChiTietBaiViet","Home",new {articalType = "duan", id = item.Id , url = item.FriendlyUrl })">
                            <img src="@string.Format("{0}",item.AvataUrl)">
                        </a>*@

                        <img src="@string.Format("{0}",item.AvataUrl)">
                    </div>
                    <div class="block-content">
                        <div class="block-title">
                            @item.Name
                        </div>
                        <div class="block-description"><b>@LICOGI_10_REVOLUTION.Resources.Resources.quantity:</b> @item.Count</div>
                        <div class="block-description"><b>@LICOGI_10_REVOLUTION.Resources.Resources.yearOfProduct:</b> @item.Year</div>
                        <div class="block-description"><b>@LICOGI_10_REVOLUTION.Resources.Resources.madeIn:</b> @item.MadeIn</div>
                        <div class="block-description"><b>@LICOGI_10_REVOLUTION.Resources.Resources.power:</b> @item.Power</div>
                        <div class="block-description"><b>@LICOGI_10_REVOLUTION.Resources.Resources.detailInfo:</b> @Html.Raw(item.DetailInfo)</div>
                    </div>
                </div>

            }
        </div>
    }

    <br />
    <br />
    <br />
    <br />
</section>

<section class="content-aside">
    @{Html.RenderAction("Aside", new { displayNews = true, displayProject = true });}
</section>