﻿@using LICOGI_10_REVOLUTION
@{
    ViewBag.Title = "Văn Bản Pháp Quy";
}

<section class="content-main">
    <p class="content-header">@LICOGI_10_REVOLUTION.Resources.Resources.legalDocument</p>
    @Html.Raw(ViewBag.content)
</section>
<section class="content-aside">
    @{Html.RenderAction("Aside", new { displayNews = true, displayProject = true });}
</section>
