﻿@model ICollection<LICOGI_10_REVOLUTION.TB_FILE>
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="image-element">
            <div class="image text-center">
                @if (item.FileType.Contains("image"))
                {
                    <img src="@string.Format("../../{0}",@item.ThumbUrl)" />
                }
                else if (item.FileType.Contains("pdf") || item.Name.Contains(".pdf"))
                {
                    <i class="fa fa-file-pdf-o fa-4x"></i>
                }
                else if (item.FileType.Contains("msword") || item.FileType.Contains("document") || item.Name.Contains(".doc"))
                {
                    <i class="fa fa-file-word-o fa-4x"></i>
                }
                else
                {
                    <i class="fa file fa-4x"></i>
                }
            </div>

            <div class="info">
                <label>@item.Name</label>
                <input value="@string.Format("/{0}",@item.Url)" clas class="form-control" />
            </div>
        </div>
    }
}