﻿@model ICollection<LICOGI_10_REVOLUTION.TB_FILE>
@{
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = null;
}

<style>
    .search-box,
    .search-result {
        padding-right: 0;
    }

    .search-box {
        margin-bottom: 10px;
    }

    .search-result {
        float: left;
    }

        .search-result label {
            font-weight: normal;
            word-break: break-all;
        }

    .image-element {
        height: auto;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }

        .image-element .image {
            display: inline-block;
            width: 20%;
            float: left;
            padding: 5px;
        }

            .image-element .image img {
                width: 100%;
            }

        .image-element .info {
            display: inline-block;
            width: 79%;
        }

            .image-element .info input {
                width: 100%;
            }
</style>

<h2>Tải hình từ máy</h2>
<div class="row">
    <form id="uploadFile" method="post" enctype="multipart/form-data">
        <input type="hidden" name="type" value="2" />
        <div class="col-md-8"><input type="file" multiple size="20" name="listFile" /></div>
        <div class="col-md-4 text-right"><button id="uploadButton" type="button" class="btn btn-default">Tải Lên</button></div>
    </form>
</div>
<br />
<div class="row" style="margin-top:12px">
    <div class="col-md-12 search-box">
        <div class="input-group custom-search-form">
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button id="searchFile" class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="col-md-12 search-result">
        @{Html.RenderPartial("_ListFilePartial", Model);}
    </div>
</div>