﻿@{
}
<section class="content-main">
    <p class="content-header">Công trình thủy điện ĐăkMi 3</p>
    <p class="text">Công trình thủy điện ĐăkMi 3 có vị trí tại Huyện Phước Sơn - Tỉnh Quảng Nam</p>
    <table class="table table-bordered">
        <tr>
            <td class="table-title">Công suất:</td>
            <td>54MW</td>
        </tr>
        <tr>
            <td class="table-title">Tổng mức đầu tư:</td>
            <td>1.304 tỷ đồng</td>
        </tr>
        <tr>
            <td class="table-title">Chủ đầu tư và tổng thầu:</td>
            <td>Tổng công ty IDICO</td>
        </tr>
    </table>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DaMI 3 9.jpg" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>



    <p class="text">Công trình Thủy điện Đak Mi 3, Bậc dưới của Thủy điện Đak Mi 1, nằm trên địa bàn tỉnh Quảng Nam được đánh giá là một trong những công trình có hiệu quả kinh tế cao, trong hệ thống thuỷ điện trên sông Vu Gia - Thu Bồn. Hiện nay Công ty cổ phần cơ giới và xây lắp số 10 (LICOGI 10) đang đảm nhận phần việc thi công hạng mục Tháp điều áp, Đường thi công đến Đập chính, Ngách thi công số 1 và các hạng mục đào đắp đất đá khác với giá trị trên 50 tỷ đồng. Dự kiến các hạng mục LICOGI 10 thi công sẽ hoàn thành vào cuối năm 2015 đảm bảo chất lượng, tiến độ và an toàn.</p>
    <p class="text">Một số hình ảnh về công tác thi công tại công trình</p>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DaK Mi 3 8.jpg" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DakMi 3 4.jpg" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DaKMi 3 6.jpg" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DaKMi 3 5.jpg" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>

   


    <br />
    <br />
    <br />
    <br />


</section>

<section class="content-aside">
    @{Html.RenderAction("Aside", new { });}
</section>
