﻿@{
}
<section class="content-main">
    <p class="content-header">Hầm đường cao tốc Đà Nẵng - Quảng Ngãi</p>
    <p class="text">Hợp đồng xây dựng giữa Công ty cổ phần cơ giới và xây lắp số 10  với Tổng công ty xây dựng công trình giao thông 4 thực hiện thi công Dự án xây dựng đường hầm cao tốc Đà Nẵng - Quảng Ngãi - Gói thầu xây lắp số 4 (Km 21+500 - Km 32+600).</p>
    
    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DSCN3733.JPG" />
        <text>Ban lãnh đạo đến thăm công trình</text>
    </div>
    
    <p class="text">Là công trình trọng điểm của năm 2015, toàn bộ CBCNV trong công ty luôn nỗ lực hết mình để hoàn thành tốt công việc, đáp ứng tiến độ thi công mà chủ đầu tư đề ra.</p>
    <p class="text">Mặc dù gặp rất nhiều khó khăn trong công tác thi công nhưng luôn được sự quan tâm và chỉ đạo sát sao từ Ban lãnh đạo Công ty để từ đó công trình thi công đang đi vào hoạt động một cách ổn định, thậm chí còn vượt kế hoạch.</p>
    
    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DSCN3619.JPG" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DSCN3894.JPG" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>
    
    <p class="text">Trong thành công đó, luôn là sự cố gắng nỗ lực công tác của các anh em công nhân.Dưới đây là một số hình ảnh thể hiện sự nỗ lực đáng ghi nhận của tập thể CBCNV thi công hầm đường cao tốc (Đà Nẵng - Quảng Ngãi)</p>
    
    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DSCN3643.JPG" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/Ham 411-1.JPG" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/DSCN4019.JPG" />
        @*<text>Khởi công hầm thủy điện sông tranh 2</text>*@
    </div>
    <br />
    <br />
    <br />
    <br />


</section>

<section class="content-aside">
    @{Html.RenderAction("Aside", new { });}
</section>
