﻿@{
}
<section class="content-main">
    <p class="content-header">Công trình San lấp mặt bằng bể chứa sản phẩm nhà máy lọc dầu Dung Quất</p>
    <table class="table table-bordered">
        <tr>
            <td class="table-title">Chủ đầu tư:</td>
            <td>BQLDA Nhà máy lọc dầu Dung Quất</td>
        </tr>
        <tr>
            <td class="table-title">Địa chỉ:</td>
            <td>208 Đại lộ Hùng Vương – TP Quảng Ngãi</td>
        </tr>
        <tr>
            <td class="table-title">Người đại diện:</td>
            <td>Trần Minh Ngọc</td>
        </tr>
        <tr>
            <td class="table-title">Chức vụ:</td>
            <td>Phó Trưởng ban</td>
        </tr>
    </table>
    <p class="text">Năm 2000, Tổng công ty LICOGI đã trúng thầu, gói thầu thi công san lấp mặt bằng nhà máy lọc dầu Dung Quất. Đây là công trình trọng điểm Quốc gia, được sự quan tâm lớn của Đảng và Nhà nước, công trình có ý nghĩa lớn trong tiến trình công nghiệp hóa, hiện đại hóa đất nước. Theo ban quản lý dự án nhà máy lọc dầu Dung Quất, sau khi công trình hoàn thành, Việt nam có thể chủ động cung cấp được 30% nhu cầu xăng dầu trong nước.</p>


    <div class="content-image">
        <img src="~/Uploads/CongTrinh/kcdungquat.jpg" />
        <text>Khởi công hầm thủy điện sông tranh 2</text>
    </div>

    <p class="text">Với năng lực, uy tín thi công thực tế qua nhiều công trình, Công ty LICOGI10 đã được Tổng công ty LICOGI giao nhiệm vụ thi công san lấp mặt bằng nhà máy lọc dầu Dung Quất. Xác định đây là công trình quan trọng Quốc gia đòi hỏi tiêu chuẩn kỹ thuật cao, Công ty đã tập trung lực lượng kỹ sư, kỹ thuật giàu kinh nghiệm, bố trí xe máy thi công tốt, dây chuyền đồng bộ để thi công với độ đầm nén đất, đá và hoàn thiện mặt bằng có cao độ chính xác cao.</p>

    <p class="text-list">Các hạng mục Licogi 10 thi công bao gồm:</p>
    <ul class="list">
        <li>Phá đá nổ mìn tạo mặt bằng:  717.173,61 m3.</li>
        <li>Đào đất các loại: 2.083.029,55 m3</li>
        <li>Đắp đá chọn lọc: 167.841,0 m3</li>
        <li>Xây đá hộc kè mái ta luy vữa XM, M150:   6.586,52 m3</li>
        <li>Cống thoát nước: 133,0 md</li>
    </ul>
    <br />
    <br />
    <br />
    <br />


</section>

<section class="content-aside">
    @{Html.RenderAction("Aside", new { });}
</section>
