﻿@{
}

<br />
<br />
<section class="content-main">
    <p class="content-header">Thủy điện sông tranh 2</p>
    <p>Thủy điện Sông Tranh 2 là một tổ hợp các công trình gồm hồ chứa nước và nhà máy phát điện trên sông Tranh, một nhánh sông thượng lưu sông Thu Bồn, thuộc địa bàn huyện Bắc Trà My, tỉnh Quảng Nam. Nhà máy thủy điện có công suất 190 MW gồm 2 tổ máy, sản lượng điện trung bình hàng năm 679,6 KWh, công trình có vốn đầu tư 5.194 tỷ đồng</p>
    <p>Công trình được khởi công xây dựng từ năm 2006, và bắt đầu phát điện đầu tiên từ ngày 19 tháng 12 năm 2010. Licogi 10 đẵ thi công hạng mục khoan hầm và làm cống thoát nước ...</p>
    <p>Với sự hỗ trợ của những máy móc hiện đại nhất, công việc đã diễn ra trôi chảy và hoàn thành vào đầu năm 2012</p>
    <p>Một số hình ảnh về các hạng mục licogi 10 đã thi công tại thủy điện Sông Tranh 2</p>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/ham-thuy-dien-song-tranh-2.jpg" />
        <text>Khởi công hầm thủy điện sông tranh 2</text>
    </div>

    <div class="content-image">
        <img src="~/Uploads/CongTrinh/a-vuong.jpg" />
        <text>Khoan đường hầm dẫn nước</text>
    </div>

  

    <br />
    <br />
    <br />
    <br />
</section>

<section class="content-aside">
    <p class="content-header">Dự Án</p>
    <div class="aside-wrap">
        <ul class="sidebar-pr-items link-item">
            <li class="sidebar-pr-item">
                <a href="/ThuyDienSongTranh2" class="sidebar-pr-item1">
                    <div class="sidebar-pr-inner">
                        <img src="~/Uploads/CongTrinh/ham-thuy-dien-song-tranh-2.jpg" width="85" height="auto">

                        <div class="sidebar-pr-main">
                            <span class="sidebar-pr-title">
                                Thủy điện sông tranh 2
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="sidebar-pr-item">
                <a href="https://liginc.co.jp/317971" class="sidebar-pr-item2">
                    <div class="sidebar-pr-inner">
                        <img src="~/Uploads/CongTrinh/a-vuong.jpg" 85" height="auto">

                        <div class="sidebar-pr-main">
                            <span class="sidebar-pr-title">
                                Thủy điện A Vương
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="sidebar-pr-item">
                <a href="https://liginc.co.jp/life/useful-info/102691" class="sidebar-pr-item3">
                    <div class="sidebar-pr-inner">
                        <img src="~/Uploads/CongTrinh/DaMI-3-9.jpg" width="85" height="auto">

                        <div class="sidebar-pr-main">
                            <span class="sidebar-pr-title">
                                Thủy điện Dak Mi
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="sidebar-pr-item">
                <a href="https://liginc.co.jp/315389" class="sidebar-pr-item4">
                    <div class="sidebar-pr-inner">
                        <img src="~/Uploads/CongTrinh/ham-danang-quangnam.jpg" width="85" height="auto">

                        <div class="sidebar-pr-main">
                            <span class="sidebar-pr-title">
                                Đường hầm cao tốc Đà Nẵng - Quảng Nam
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    @*@{Html.RenderAction("Aside", new { });}*@
</section>