﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<title>@ViewBag.Title</title>*@
    <title>Licogi 10</title>
    <link href="~/Images/licogi-cutted.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
</head>
<body>
    <div id="pageContent">
        <header>
            <div id="licogiHeader" class="content-wrapper">
                <div class="row" style="background: url(../../Uploads/banner-glass-building.jpg);margin: 0">
                    <div id="page-logo">
                        <a style="padding:0" href="/"><img id="licogiLogo" src="~/Images/licogi-cutted.png" /></a>
                    </div>
                    <div class="col-md-6 contact-info">
                        <p><b>@LICOGI_10_REVOLUTION.Resources.Resources.addressLine1</b></p>
                        <p>@LICOGI_10_REVOLUTION.Resources.Resources.addressLine2</p>
                        <p>@LICOGI_10_REVOLUTION.Resources.Resources.addressLine3</p>
                        <p>@LICOGI_10_REVOLUTION.Resources.Resources.addressLine4</p>
                    </div>
                    <div id="languages" style="position:absolute; top:10px;right:10px">
                        <a href="@Url.Action("ChangeCurrentCulture", "Home", new { id = 0 })"><img class="language-image" src="~/Images/Flag_of_Vietnam.svg.png" title="Vietnamese Language" alt="" /></a>
                        &nbsp; &nbsp;
                        <a href="@Url.Action("ChangeCurrentCulture", "Home", new { id = 1 })"><img class="language-image" src="~/Images/Flag_of_the_United_States.svg.png" title="Tiếng Anh" /></a>
                    </div>
                </div>
                <div id="menuBar" class="col-md-12">
                    <ul>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.homePage, "Index", "Home")</li>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.intruduce, "GioiThieu", "Home")</li>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.mechanizedIntroduce, "ThietBiThiCong", "Home")</li>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.projects, "DuAn", "Home")</li>
                        <li>
                            <a href="#">@LICOGI_10_REVOLUTION.Resources.Resources.industrialConstruction</a>
                            <div class="menubar-popup">
                                <ul>
                                    <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.mechanizedConstruction, "ThiCongCoGioi", "Home")</li>
                                    <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.constructionInstallation, "ThiCongXayLap", "Home")</li>
                                    <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.buildingMaterials, "VatLieuXayDung", "Home")</li>
                                </ul>
                            </div>
                        </li>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.licogiWindow, "LapDatNhomKinh", "Home")</li>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.news, "TinTuc", "Home")</li>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.socialGroup, "DoanTheXaHoi", "Home")</li>
                        <li>@Html.ActionLink(LICOGI_10_REVOLUTION.Resources.Resources.legalDocument, "VanBanPhapQuy", "Home")</li>
                    </ul>
                </div>
            </div>
        </header>
        <section id="licogiBody" class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        <footer class="noindex">
            @*<div>
                    <h3>
                        Worldwide
                    </h3><ul>
                        <li><a href="http://www.jll.com/">View global site</a></li>
                    </ul>
                </div>
                <div>
                    <h3>
                        Information for
                    </h3><ul>
                        <li><a href="/united-states/en-us/services/investors">Investors</a></li>
                        <li><a href="/united-states/en-us/services/corporates">Tenants and Corporates</a></li>
                    </ul>
                </div>
                <div>
                    <h3>
                        Learn more about
                    </h3><ul>
                        <li><a href="http://www.us.jll.com/united-states/en-us/about/awards-and-recognition">Awards and recognition</a></li>
                        <li><a href="/united-states/en-us/learn-more-about/corporate-responsibility">Corporate responsibility</a></li>
                        <li><a href="http://www.us.jll.com/united-states/en-us/careers/diversity-and-inclusion">Diversity and Inclusion</a></li>
                        <li><a href="/united-states/en-us/about/sustainability">Sustainability</a></li>
                        <li><a href="/united-states/en-us/safety">Workplace safety</a></li>
                    </ul>
                </div>
                <div>
                    <h3>
                        Research &amp; insights
                    </h3><ul>
                        <li><a href="/united-states/en-us/research/industrial-and-logistics">Industrial and Logistics</a></li>
                        <li><a href="/united-states/en-us/research/industry">Industries</a></li>
                        <li><a href="/united-states/en-us/research/office">Office</a></li>
                        <li><a href="http://www.jllrealviews.com/">Real Views</a></li>
                        <li><a href="http://www.theinvestor.jll/geography/americas/">The Investor</a></li>
                    </ul>
                </div>

                <hr>*@
            @*<ul>
                    <li><a id="ctl00_JLLTranslatedLink2" href="/united-states/en-us/privacy-statement">Privacy Statement</a></li>
                    <li><a id="ctl00_JLLTranslatedLink3" href="/united-states/en-us/terms-of-use">Terms Of Use</a></li>
                    <li><a id="ctl00_JLLTranslatedLink4" href="/united-states/en-us/site-map">Site Map</a></li>
                </ul>*@
            <div class="copyright">
                © <span>Copyright</span> 2017
                <span>@LICOGI_10_REVOLUTION.Resources.Resources.addressLine1</span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#menuBar > ul > li').hover(function () {
                $(this).find('a:first').addClass('menuar-hover');
                $(this).find('.menubar-popup').addClass("open-popup");
            }, function () {
                $(this).find('a:first').removeClass('menuar-hover');
                $(this).find('.menubar-popup').removeClass("open-popup");
            });
        })
    </script>
</body>
</html>